*{
    margin: 0;
    padding: 0;
}
.clearfix::after{
    content: "";
    display: block;
    clear: both;

}



.menubar{
    width: 100%;
    background-color: burlywood;
}
.leftside{
    width: 30%;
    float: left;
}
.rightside{
    width: 69%;
    float: right;
    margin-top: 20px;
}

.menu ul li{
    list-style: none;
    float: left;
    margin: 5px;
    background-color: coral;
    padding:10px;
    border-radius: 5px;
    border: 3px solid tomato;

}
.menu ul li a{
    text-decoration: none;
    color:white;
    font-weight: 700;
}
.menu ul li ul li{
    float: none;
}




.slideshow{
    background-image: url(images/Himchori.jpg);
    height: 200px;
}


.mainbody{
    height: 500px;
    border: 5px solid black;
}
.bodyleft{
    width: 80%;
    float: left;
    background-color: cadetblue;
    border: 2px solid tomato;
    height: 495px;
    
}
.bodyright{
    width: 19.4%;
    float: right;
    background-color: cornflowerblue;
    border: 2px solid rgb(95, 179, 248);
    height: 495px;
    margin-left: 0;
    padding-left: 0;
    
}
.notice{
    color: white;
    border: 2px solid;
    display: inline-block;
    padding: 5px;
   margin:10px 70px;
}
.footer{
   
    background-color: red;
    padding:10px;
}
.footer h3{
    margin-left: 250px;
}











